body {
	margin: 0;
	padding: 0;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	color:#fff;
}

* {margin: 0; padding: 0; outline: none;}

img {border: none;}

a { 
	text-decoration:none; 
	color:#00c6ff;
}
@font-face {
	font-family: badaboom;
	src: url(fonts/BadaboomBB_Reg.ttf);
}
.header {
	width: 100%;
	height: 100px;
	background-image: url(../images/header-background2.png);
	background-position: center; 
}
.header h1 {
	width: 400px;
	padding: 30px 0;
	margin: 0 auto;
	color: #3da1ff;
	font-family: badaboom;
	font-size: 48px;
	text-shadow: 1px 1px 1px rgb(0,0,0);
}
.container {
	width: 100%;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.content {
	width:600px;
	min-height:500px;
	margin:0 auto;
	position:relative;
}

/* Trigger button for javascript */

#trigger {
	background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
	width: 140px;
}
		
#trigger:hover {
	background: -moz-linear-gradient(top, #202020 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #202020 0%, #161616 100%);
}

.ID-Image {
	width: 300px;
	height: 300px;
	background-image: url('../images/me.png');
	background-repeat: no-repeat;
	margin: 150px auto 0;
}
#resources {
	list-style: none;
	position: relative;
	top: 140px;
	left: 140px;
	z-index: -1;
}
.running .line1, .running .line2, .running .line3, .running .line4 {
	background: #2187e7;
	width: 0px;
	height: 1px;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}
.running .line1 {
	-moz-transform: rotate(17deg);
	-webkit-transform: rotate(17deg);
	-moz-animation: move 0.65s linear forwards;
	-webkit-animation: move 0.65s linear forwards;
}
.running .line2 {
	-moz-transform: rotate(140deg);
	-webkit-transform: rotate(140deg);
	-moz-animation: move1 0.75s linear forwards;
	-webkit-animation: move1 0.75s linear forwards;
}
.running .line3 {
	-moz-transform: rotate(235deg);
	-webkit-transform: rotate(235deg);
	-moz-animation: move2 0.9s linear forwards;
	-webkit-animation: move2 0.9s linear forwards;
}
.running .line4 {
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	-moz-animation: move3 0.5s linear forwards;
	-webkit-animation: move3 0.5s linear forwards;
}
.running .ball, .running .ball1, .running .ball2, .running .ball3 {
	background-color:#2187e7; 
	background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	width:7px;
	height:7px;
	border-radius:50px;
	position:absolute;
	z-index:99;
	-moz-transform:scale(0);
	-moz-animation:point 0.1s linear forwards;
	-webkit-transform:scale(0);
	-webkit-animation:point 0.1s linear forwards;
}
span    { 
	position:absolute; text-indent:-9999px; 
}
.ball, .ball1, .ball2, .ball3 {
	 top:-3px;
}
.ball   { 
	left:295px; 
}
.ball1  { 
	left:355px; 
}
.ball2  { 
	left:200px; 
}
.ball3  { 
	left:365px; 
}
.pulse, .pulse1, .pulse2, .pulse3 {
	top: -5px;
}
.pulse   { 
	left:293px; 
}
.pulse1  { 
	left:354px; 
}
.pulse2  { 
	left:198px; 
}
.pulse3  { 
	left:363px; 
}

#layerBall, #layerPulse {
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
#layerBall1, #layerPulse1 {
	-moz-animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
#layerBall2, #layerPulse2 {
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
#layerBall3, #layerPulse3 {
	-moz-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

ul#expanded {
	list-style: none;
}
ul#expanded li {
	position:relative; background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	width:70px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	width: 70px;
	opacity:0; 
}
ul#expanded li:hover {
	background: -moz-linear-gradient(top, #202020 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #202020 0%, #161616 100%);
	cursor:pointer;
}

ul#expanded a:hover {
	color:#fff;
}
.running #projects  { -moz-animation:tooltip 0.35s 0.55s linear forwards; -webkit-animation:tooltip 0.35s 0.55s linear forwards; }
.running #contact { -moz-animation:tooltip 0.35s 0.65s linear forwards; -webkit-animation:tooltip 0.35s 0.65s linear forwards; }
.running #experience { -moz-animation:tooltip 0.35s 0.8s linear forwards;  -webkit-animation:tooltip 0.35s 0.8s linear forwards; }
.running #about { -moz-animation:tooltip 0.35s 0.4s linear forwards;  -webkit-animation:tooltip 0.35s 0.4s linear forwards; }

#expanded .about {top:-150px; left:406px; }
#expanded .experience {top:-83px; left:28px; }
#expanded .projects {top:178px; left:432px; }
#expanded .contact {top:297px; left:-130px; }

@-moz-keyframes move { /* 'move' her is the name of the animation, as used above in transformation lines, for the keyframes animation syntax*/
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-moz-keyframes move1 {
	0%   { width:0px;}
	100% { width:360px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-moz-keyframes move2 {
	0%   { width:0px;}
	100% { width:205px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-moz-keyframes move3 {
	0%   { width:0px;}
	100% { width:370px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-webkit-keyframes move {
	0%   { width:0px;}
	100% { width:300px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-webkit-keyframes move1 {
	0%   { width:0px;}
	100% { width:360px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-webkit-keyframes move2 {
	0%   { width:0px;}
	100% { width:205px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}
@-webkit-keyframes move3 {
	0%   { width:0px;}
	100% { width:370px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes point {
	0%  {
		-moz-transform:scale(0,0);
	}
	100%{
		-moz-transform:scale(1,1);
	}	
}

@-moz-keyframes pulse {
	0%   {
		-moz-transform: scale(0);
		opacity: 0;
	}
    10%  {
    	-moz-transform: scale(1);
    	opacity: 0.5;
	}
	50%  {
		-moz-transform: scale(1.75);
		opacity: 0;
	}
    100% {
    	-moz-transform: scale(0);
    	opacity: 0;
	}  
} 

@-webkit-keyframes point {
	0%  {
		-webkit-transform:scale(0,0);
	}
	100%{
		-webkit-transform:scale(1,1);
	}	
}

@-webkit-keyframes pulse {
	0%   {
		-webkit-transform: scale(0);
		opacity: 0;
	}
    10%  {
    	-webkit-transform: scale(1);
    	opacity: 0.5;
	}
	50%  {
		-webkit-transform: scale(1.75);
		opacity: 0;
	}
    100% {
    	-webkit-transform: scale(0);
    	opacity: 0;
	}  
}
@-moz-keyframes tooltip {
	0% { 
		-moz-transform:scale(0,0); 
		opacity:0;
	}
	50% { 
		-moz-transform:scale(1.2,1.2); 
		opacity:0.3; 
	}
	75% { 
		-moz-transform:scale(0.9,0.9); 
		opacity:0.7;
	}
	100% 
	{ 
		-moz-transform:scale(1,1); 
		opacity:1;
	}
}

@-webkit-keyframes tooltip {
	0%  { 
		-webkit-transform:scale(0,0); 
		opacity:0;
	}
	50% { 
		-webkit-transform:scale(1.2,1.2); 
		opacity:0.3; 
	}
	75% { 
		-webkit-transform:scale(0.9,0.9); 
		opacity:0.7;
	}
	100%{ 
		-webkit-transform:scale(1,1); 
		opacity:1;
	}
}
/* REVERSE LINE PROPERTIES */


.reverse .line1,.reverse .line2,.reverse .line3,.reverse .line4 {
	background:#2187e7; 
	width:0px;
	height:1px;
	box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5);
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.reverse .line1 { 
	-moz-transform:rotate(17deg);  
	-webkit-transform:rotate(17deg);   
	-moz-animation:moveReverse  0.65s linear forwards; 
	-webkit-animation:moveReverse  0.65s linear forwards;}
.reverse .line2 { 
	-moz-transform:rotate(140deg); 
	-webkit-transform:rotate(140deg);  
	-moz-animation:move1Reverse 0.75s linear forwards; 
	-webkit-animation:move1Reverse  0.75s linear forwards;}
.reverse .line3 { 
	-moz-transform:rotate(235deg); 
	-webkit-transform:rotate(235deg);  
	-moz-animation:move2Reverse 0.9s linear forwards;  
	-webkit-animation:move2Reverse  0.9s linear forwards;}
.reverse .line4 { 
	-moz-transform:rotate(315deg); 
	-webkit-transform:rotate(315deg);  
	-moz-animation:move3Reverse 0.5s linear forwards;  
	-webkit-animation:move3Reverse  0.5s linear forwards;}

.reverse .ball, .reverse .ball1, .reverse .ball2, .reverse .ball3 {
	background-color:#2187e7; 
	background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	width:7px;
	height:7px;
	border-radius:50px;	
	position:absolute;
	z-index:99;
	-moz-transform:scale(1);
	-moz-animation:pointReverse 0.1s linear forwards;
	-webkit-transform:scale(1);
	-webkit-animation:pointReverse 0.1s linear forwards;
}
.reverse #layerBall, .reverse #layerBall1, .reverse #layerBall2, .reverse #layerBall3  { 
	-moz-animation-delay:0s; -webkit-animation-delay:0s; 
}

.reverse ul#expanded li { 
	position:relative; background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	width:70px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	width: 70px;
	opacity:1; 
}

.reverse #projects  { 
	-moz-animation:tooltipReverse 0.35s linear forwards;  
	-webkit-animation:tooltipReverse 0.35s linear forwards; 
}
.reverse #contact { 
	-moz-animation:tooltipReverse 0.35s linear forwards;  
	-webkit-animation:tooltipReverse 0.35s linear forwards; 
}
.reverse #experience { 
	-moz-animation:tooltipReverse 0.35s linear forwards;  
	-webkit-animation:tooltipReverse 0.35s linear forwards; 
}
.reverse #about { 
	-moz-animation:tooltipReverse 0.35s linear forwards;  
	-webkit-animation:tooltipReverse 0.35s linear forwards; 
}

@-moz-keyframes moveReverse {
	0%   { 
		width:300px;
	}
	100% {
	 width:0px; 
	 box-shadow:none; 
	}
}

@-moz-keyframes move1Reverse {
	0%   { 
		width:360px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

@-moz-keyframes move2Reverse {
	0%   { 
		width:205px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

@-moz-keyframes move3Reverse {
	0%   { 
		width:370px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

@-webkit-keyframes moveReverse {
	0%   { 
		width:300px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

@-webkit-keyframes move1Reverse {
	0%   { 
		width:360px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

@-webkit-keyframes move2Reverse {
	0%   { 
		width:205px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

@-webkit-keyframes move3Reverse {
	0%   { 
		width:370px;
	}
	100% { 
		width:0px; 
		box-shadow:none; 
	}
}

/* ANIMATION POINTS REVERSE */

@-moz-keyframes pointReverse {
	0%  {
		-moz-transform:scale(1,1);
	}
	100%{
		-moz-transform:scale(0,0);
	}	
}

@-webkit-keyframes pointReverse {
	0%  {
		-webkit-transform:scale(1,1);
	}
	100%{
		-webkit-transform:scale(0,0);
	}	
}

/* ANIMATION LABEL REVERSE */

@-moz-keyframes tooltipReverse {
	0%  { 
		-moz-transform:scale(1,1); 
		opacity:1;
	}
	50% { 
		-moz-transform:scale(0.9,0.9); 
		opacity:0.7; 
	}
	75% { 
		-moz-transform:scale(1.2,1.2); 
		opacity:0.3;
	}
	100%{ 
		-moz-transform:scale(0,0); 
		opacity:0;
	}
}

@-webkit-keyframes tooltipReverse {
	0%  { 
		-webkit-transform:scale(1,1); 
		opacity:1;
	}
	50% { 
		-webkit-transform:scale(0.9,0.9); 
		opacity:0.7; 
	}
	75% { 
		-webkit-transform:scale(1.2,1.2); 
		opacity:0.3;
	}
	100%{ 
		-webkit-transform:scale(0,0); 
		opacity:0;
	}
}

@media (max-width: 720px) {
	.content {
		width:100%;
		min-height:500px;
		margin:0 auto;
		position:relative;
	}
	.running .line1 {
		-moz-transform: rotate(73deg);
		-webkit-transform: rotate(73deg);
		-moz-animation: move 0.65s linear forwards;
		-webkit-animation: move 0.65s linear forwards;
	}
	.reverse .line1 { 
		-moz-transform:rotate(73deg);  
		-webkit-transform:rotate(73deg);   
		-moz-animation:moveReverse  0.65s linear forwards; 
		-webkit-animation:moveReverse  0.65s linear forwards;
	}
	.running .line4 {
		-moz-transform: rotate(290deg);
		-webkit-transform: rotate(290deg);
		-moz-animation: move3 0.5s linear forwards;
		-webkit-animation: move3 0.5s linear forwards;
	}
	.reverse .line4 { 
		-moz-transform:rotate(290deg); 
		-webkit-transform:rotate(290deg);  
		-moz-animation:move3Reverse 0.5s linear forwards;  
		-webkit-animation:move3Reverse  0.5s linear forwards;
	}
	.running .line2 {
		-moz-transform: rotate(110deg);
		-webkit-transform: rotate(110deg);
		-moz-animation: move1 0.75s linear forwards;
		-webkit-animation: move1 0.75s linear forwards;
	}
	.reverse .line2 { 
		-moz-transform:rotate(110deg); 
		-webkit-transform:rotate(110deg);  
		-moz-animation:move1Reverse 0.75s linear forwards; 
		-webkit-animation:move1Reverse  0.75s linear forwards;
	}
	@-moz-keyframes moveReverse {
		0%   { 
			width:300px;
		}
		100% {
		 width:0px; 
		 box-shadow:none; 
		}
	}
	@-webkit-keyframes moveReverse {
		0%   { 
			width:300px;
		}
		100% { 
			width:0px; 
			box-shadow:none; 
		}
	}
	@-moz-keyframes move3Reverse {
		0%   { 
			width:280px;
		}
		100% { 
			width:0px; 
			box-shadow:none; 
		}
	}
	@-webkit-keyframes move3Reverse {
		0%   { 
			width:280px;
		}
		100% { 
			width:0px; 
			box-shadow:none; 
		}
	}
	
	#expanded .projects {top:376px; left:236px; }
	#expanded .about {top:-152px; left:242px; }
	#expanded .contact {top:388px; left:28px;}

	@-webkit-keyframes move3 {
		0%   { width:0px;}
		100% { width:280px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
	}
	@-moz-keyframes move3 {
		0%   { width:0px;}
		100% { width:280px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
	}
	.pulse3  { 
		left:280px; 
	}
	.ball3  { 
		left:280px; 
	}
}

#big-cube {
	position: relative;
	margin: auto;
	height: 100%;
	width: 100%;
	-webkit-transition: -webkit-transform 2s linear;
	-webkit-transform-style: preserve-3d;
	-moz-transition: -moz-transform 2s linear;
	-moz-transform-style: preserve-3d;
	transition: transform 2s linear;
	transform-style: preserve-3d;
	z-index: -10;
}

#big-face {
	position: absolute;
	height: 100%;
	width: auto;
	padding: 20px;
	background-color: #cfa7a7;
	font-size: 27px;
	line-height: 1em;
	color: #fff;
	border: 1px solid #555;
	border-radius: 3px;
}
